@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}

* {
  font-family: roboto;
  box-sizing: border-box !important;
  user-select: none;
}

html,
body {
  margin: 0;
  background-color: black;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 16px;
  gap: 16px;
}

.leaderboard leaderboard-list {
  color: white;
  border-radius: 10px;
}

.leaderboard leaderboard-list:first-child {
  color: white;
}
